<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Models" value="servicemodel"/>
    <add key="Interfaces" value="interface"/>
    <add key="Service" value="servicedefinition"/>
    <add key="Managers" value="manager"/>
    <add key="Repositories" value="repositories"/>
    <add key="AATs" value="acceptancetest"/>
    <add key="UnitTests" value="unittest"/>
  </appSettings>
</configuration>